.firstNameClass{
    width: 220px;
}
.lastNameClass{
    width: 220px;
}

.emailClass{
    width: 440px;
}

.phoneClass{
    width: 220px;
}

.birthdayClass{
    width: 220px;
}
.gp1{
    margin-top: 5px;
}

.toggle-group1{
    display: inline-block;
    margin-top: 13px;
    margin-left: 15px;
    margin-bottom: 34px;

    border: 2px solid black;
    border-radius: 5px;
    
}

.passwordClass{
    width: 230px;
    margin-left: 15px;
}

.colClass1{
    text-align: center;

}
.colClass2{
    text-align: center;

}
.passwordStrengthClass{

}
.cardClass{
    max-width: 472px;
}


.radioClass2{
    margin-left: 15px;
 
}

.r1{
   // border: 2px solid black;
}

