<div class="fullscreen row" [ngStyle]="{'background-image': getUrl()}">
  <div class="fullscreen col" align="center">
    <div class="top-banner"></div>
    <mat-tab-group class="fullscreen">
      <mat-tab label="Register" active="active">
        <div #divShake>
          <mat-card class="cardClass mat-elevation-z6">
            <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
              <div style="margin-left: 0px">
                <mat-form-field class="firstNameClass" appearance="outline">
                  <mat-label>First Name</mat-label>
                  <mat-icon matSuffix>person_outline
                  </mat-icon>
                  <input matInput formControlName="firstNameValidation">
                </mat-form-field>

                <mat-form-field class="lastNameClass" appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <mat-icon matSuffix>person
                  </mat-icon>
                  <input matInput formControlName="lastNameValidation">
                </mat-form-field>
              </div>
              <div style="margin-top: -20px">
                <mat-form-field class="emailClass" appearance="outline">
                  <mat-label>Email</mat-label>
                  <mat-icon matSuffix>mail_outline</mat-icon>
                  <input matInput formControlName="emailValidation">
                </mat-form-field>
              </div>
              <div style="margin-top: -20px">
                <mat-form-field class="phoneClass" appearance="outline">
                  <mat-label>Phone Number</mat-label>
                  <mat-icon matSuffix>phone_android</mat-icon>
                  <input matInput formControlName="phoneValidation">
                </mat-form-field>
                <mat-form-field class="birthdayClass" (click)="picker.open()" appearance="outline">
                  <mat-label>Birthday</mat-label>
                  <mat-icon matSuffix>today</mat-icon>
                  <input matInput [matDatepicker]="picker" formControlName="birthdayValidation">
                  <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>

              </div>

              <div class="row" style="margin-top: -10px">
                <!--password input filed-->
                <mat-form-field class="passwordClass" appearance="outline" [color]="passwordComponent.color">
                  <mat-label>Password</mat-label>
                  <mat-icon matSuffix>lock_outline</mat-icon>
                  <input matInput #password [type]="inputType" placeholder="Password" formControlName="passwordValidation">
                  <mat-hint align="end" aria-live="polite">
                    {{password.value.length}} / 25
                  </mat-hint>
                </mat-form-field>

                <div class="toggle-group1 btn-group btn-group-toggle">
                  <label class="transparent-color btn" ngbButtonLabel>
                    <input type="checkbox" (click)="onSlideToggleChange()">
                    <i *ngIf="inputType=='text'" class="far fa-eye fa-lg" style="margin-top: 5px"></i>
                    <i *ngIf="inputType=='password'" class="far fa-eye-slash fa-lg" style="margin-top: 5px"></i>
                  </label>
                  <label class="transparent-color btn" ngbButtonLabel>
                    <input type="checkbox" [(ngModel)]="showDetails" [ngModelOptions]="{standalone: true}"> Show
                    Details
                    <i class="fas fa-caret-down fa-lg" style="margin-left: 3px"></i>
                  </label>
                </div>
              </div>
              <div>
                <!--@angular-material-extensions/password-strength's main component-->
                <mat-password-strength class="passwordStrengthClass" #passwordComponent (onStrengthChanged)="onStrengthChanged($event)"
                  [password]="password.value">
                </mat-password-strength>
                <!--Password's strength info-->
                <mat-password-strength-info *ngIf="showDetails" [passwordComponent]="passwordComponent">
                </mat-password-strength-info>
              </div>

              <div style="margin-top: 20px">
                <mat-radio-group [(ngModel)]="gender" [ngModelOptions]="{standalone: true}">
                  <mat-radio-button class="radioClass1" value="true">Male</mat-radio-button>
                  <mat-radio-button class="radioClass2" value="false">Female</mat-radio-button>
                </mat-radio-group>
              </div>
              <div *ngIf="!isFormValid() && afterSubmit==true" class="alert alert-danger" role="alert">
                Some required information is missing or wrong
              </div>
              <div *ngIf="responseError" class="alert alert-danger alert-dismissible fade show" role="alert">
                Error occured while registering
                <button type="button" class="close" (click)="responseError=false" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>

              </div>
              <div *ngIf="(isFormValid()&&!responseError) || afterSubmit==false" style="height: 20px">
              </div>
              <button class="btnClass" type="submit" mat-raised-button color="primary">{{registerButtonText}}
                <mat-icon *ngIf="!loading" class="btnRegIconClass">playlist_add</mat-icon>
                <div *ngIf="loading" id="fountainG">
                  <div id="fountainG_1" class="fountainG"></div>
                  <div id="fountainG_2" class="fountainG"></div>
                  <div id="fountainG_3" class="fountainG"></div>
                  <div id="fountainG_4" class="fountainG"></div>
                  <div id="fountainG_5" class="fountainG"></div>
                  <div id="fountainG_6" class="fountainG"></div>
                  <div id="fountainG_7" class="fountainG"></div>
                  <div id="fountainG_8" class="fountainG"></div>
                </div>
              </button>

            </form>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Login">
        <mat-card class="logCardClass mat-elevation-z6">
          <div #divSquare>
            <div class="row">
              <div class="col" style="justify-content: center;" align="center">
                <div class="row" style="width: 240px">
                  <mat-form-field class="userNameClass" appearance="outline">
                    <mat-label>Username</mat-label>
                    <mat-icon matSuffix>person_outline
                    </mat-icon>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="row" style="width: 240px">
                  <mat-form-field class="LogPasswordClass" appearance="outline">
                    <mat-label>Password</mat-label>
                    <mat-icon matSuffix>lock_outline</mat-icon>
                    <input matInput [type]="password" placeholder="Password">
                  </mat-form-field>
                </div>
                <div class="alert alert-danger" role="alert">
                  Login Failed
                </div>
                <div class="row" style="justify-content: center;" align="center">
                  <button class="btnClass" (click)="onLogin()" mat-raised-button color="primary">Login
                    <mat-icon class="btnLogIconClass">exit_to_app</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>