/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
html, body {
    height: 100vh;
    width: 100%;
    margin:0; 
    padding:0;
    overflow: auto;
}

$custom-typography: mat-typography-config($font-family: '"Open Sans", sans-serif;');
@include mat-core($custom-typography);