<div class="background row" style="min-height: 100vh">
    <div class="fullscreen col" align="center">
        <span class="span-1"></span>
        <span class="span-2"></span>
        <span class="span-3"></span>
        <span class="span-4"></span>
        <span class="span-5"></span>
        <span class="span-6"></span>
        <span class="span-7"></span>
        <span class="span-8"></span>
        <span class="span-9"></span>
        <span class="span-10"></span>

        <mat-card class="globalCard" style="margin-top: 70px;">
            <div class="row tabRow" style="margin-top: -71px;">


                <form class="userSearch">
                    <mat-form-field class="searchUserField">
                        <input type="text" class="searchUserInput" placeholder="Search a user" aria-label="Number"
                            matInput [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
                <div class="logo">
                    <img src="assets/pds_logo.png" class="logoImg">
                </div>


                <div class=" bannerCol col align-self-start" align="left">
                    <div class="row">
                        <div class=" col-4" style="min-width: 200px; margin-top: 18px">
                            <button mat-raised-button (click)="addfriend()" class="buttonAdd">Add Friend</button>
                            <button mat-raised-button (click)="sendMessage()" class="buttonMsg">Message</button>
                        </div>
                        <div class="col-3" style=" min-width: 150px;">
                            <div class="photoClass" [ngStyle]="{ 'background-image': 'url(' + profilePhoto + ')'}">
                            </div>
                            <div class="overlay" (click)="changePhoto()">
                                <i class="photoIcon fas fa-pencil-alt"></i>
                            </div>
                        </div>
                        <div class="row" style="min-width: 222px;margin-left: 50px; max-height: 85px;">
                            <div class="col" style="text-align: center; min-width: 70px;  padding:0px;">
                                <strong><label style="font-size:18px; color:#525f7f; margin-top: 20px">60</label></strong>
                                <br>
                                <label style="color:#adb5bd; ">Friends</label>

                            </div>
                            <div class="col" style="text-align: center; min-width: 70px; padding:0px;">
                                <strong><label style="font-size:18px; color:#525f7f; margin-top: 20px">60</label></strong>
                                <br>
                                <label style="color:#adb5bd;">Photos</label>
                            </div>
                            <div class="col" style="text-align: center; min-width: 70px; padding:0px;">
                                <strong><label style="font-size:18px; color:#525f7f; margin-top: 20px">60</label></strong>
                                <br>
                                <label style="color:#adb5bd;">Comments</label>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="col-3 tabCol align-self-end">
                    <mat-tab-group [selectedIndex]="selectedTab" class="tabGroup" (selectedTabChange)="tabClick($event)">
                        <mat-tab label="" disabled>
                        </mat-tab>
                        <mat-tab label="Home">
                        </mat-tab>
                        <mat-tab label="Profile">
                        </mat-tab>
                        <mat-tab label="Settings">
                        </mat-tab>
                        <mat-tab label="" disabled>
                        </mat-tab>
                    </mat-tab-group>
                    <div class="icons">
                        <div class="iconsRow row">
                            <i class="userNotification fas fa-user-plus fa-lg"></i>
                            <i class="messageNotification fas fa-envelope fa-lg"></i>
                            <i matBadge="2" matBadgeColor="warn" class="notification fas fa-exclamation-circle fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 50px">
                <div class="col-3" style="text-align: start;">
                    <div style="text-align: end; margin-top: 4px; max-width: 210px; width:210px;">
                        <div>
                            <label *ngIf="occupation!='Education/Job'" style="font-size: 17px; color:#32325d;">{{occupation}}</label>
                            <label *ngIf="occupation=='Education/Job'" style="font-size: 17px; color:#32325d;"></label>
                        </div>
                        <div>
                            <label *ngIf="organisation!='Organisation'" style="font-size: 17px; color:#32325d;">{{organisation}}</label>
                            <label *ngIf="organisation=='Organisation'" style="font-size: 17px; color:#32325d;"></label>
                        </div>
                    </div>
                </div>

                <div class="col-4"></div>
                <div class="col" style="text-align: start; margin-left: -180px">
                    <div>
                        <label style="font-size: 24px; color:#32325D;">{{fullName}} </label>
                        &nbsp;
                        <label style="font-size: 24px; font-weight: 300; color:#32325d;">.24</label>
                    </div>
                    <div>
                        <label *ngIf="city!='City' && country!='Country'" style="font-size: 19px; font-weight: 300; color:#32325d;">{{city}},
                            {{country}}</label>
                        <label *ngIf="city=='City' || country=='Country'" style="font-size: 19px; font-weight: 300; color:#32325d;"></label>
                    </div>
                </div>
                <div class="col-2">
                </div>
            </div>
            <div style="margin-top: 20px;">
                <ul class="nav nav-tabs" style="margin-left: 213px;">
                    <li class="nav-item" (click)="infoTabStatus=0; updateInfoTabStatus()">
                        <a class="nav-link" #postsTab>Posts</a>
                    </li>
                    <li class="nav-item" (click)="infoTabStatus=1; updateInfoTabStatus()">
                        <a class="nav-link" #infoTab>Info</a>
                    </li>
                    <li class="nav-item" (click)="infoTabStatus=2; updateInfoTabStatus()">
                        <a class="nav-link" #photosTab>Photos</a>
                    </li>
                    <li class="nav-item" (click)="infoTabStatus=3; updateInfoTabStatus()">
                        <a class="nav-link" #friendsTab>Friends</a>
                    </li>
                </ul>
                <div class="tabDevider">
                </div>
            </div>


            <!--**********************************************************************************************-->
            <div *ngIf="infoTabStatus==1" class="expansionDiv" style="margin-top: 10px;">
                <mat-accordion class="expansion-panel my-headers-align">
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Full account name
                            </mat-panel-title>
                            <mat-panel-description>
                                {{fullName}}
                                <mat-icon>account_circle</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field>
                            <input matInput placeholder="First name" [(ngModel)]="firstName">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Last name" [(ngModel)]="lastName">
                        </mat-form-field>

                        <mat-action-row>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Current address
                            </mat-panel-title>
                            <mat-panel-description>
                                {{city}}, {{country}}, {{zip}}
                                <mat-icon>map</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field>
                            <input matInput placeholder="City" [(ngModel)]="city">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Country" [(ngModel)]="country">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="number" min="1" placeholder="Zip Code" [(ngModel)]="zip">
                        </mat-form-field>
                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Birthday
                            </mat-panel-title>
                            <mat-panel-description>
                                {{birhDate}}
                                <mat-icon>date_range</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field>
                            <input matInput placeholder="Date" [matDatepicker]="picker" [(ngModel)]="birhDate" (focus)="picker.open()"
                                readonly>
                        </mat-form-field>
                        <mat-datepicker #picker></mat-datepicker>

                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Education & Work
                            </mat-panel-title>
                            <mat-panel-description>
                                {{occupation}}, {{organisation}}
                                <mat-icon>domain</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field>
                            <input matInput placeholder="Field/Job" [(ngModel)]="occupation">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Organisation name" [(ngModel)]="organisation">
                        </mat-form-field>

                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Current Civil Status
                            </mat-panel-title>
                            <mat-panel-description>
                                {{civilStatus}}
                                <mat-icon>people</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-select placeholder="Current Civil Status" style="width:200px;" [(value)]="civilStatus">
                            <mat-option [value]="'Civil Status'">None</mat-option>
                            <mat-option [value]="'Single'">Single</mat-option>
                            <mat-option [value]="'Married'">Married</mat-option>
                        </mat-select>


                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>


                    <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Email
                            </mat-panel-title>
                            <mat-panel-description>
                                {{email}}
                                <mat-icon>mail</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field style="width:300px">
                            <input matInput placeholder="Email" [(ngModel)]="email">
                        </mat-form-field>


                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>



                    <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Phone Number
                            </mat-panel-title>
                            <mat-panel-description>
                                {{phone}}
                                <mat-icon>phone_android</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field>
                            <input matInput type="number" min="1" placeholder="Phone number" [(ngModel)]="phone">
                        </mat-form-field>

                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>


                    <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Password
                            </mat-panel-title>
                            <mat-panel-description>
                                **********
                                <mat-icon>lock</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field>
                            <input matInput placeholder="Old Password">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="New Password">
                        </mat-form-field>

                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">End</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
                <div class="confirmationDiv">
                    <button mat-raised-button style="float: right" (click)="updateUser()" color="primary">Save</button>
                </div>
                <div style="height: 40px;">

                </div>
            </div>
            <!--**********************************************************************************************-->
            <div *ngIf="infoTabStatus==2" class="row gridRow">
                <div *ngFor="let item of items" class="column">
                    <img src="https://picsum.photos/1200/800?image=289" (click)="openDialog('https://picsum.photos/1200/800?image=289')"
                        style="width:100%">
                </div>
            </div>
            <!--**********************************************************************************************-->
            <div *ngIf="infoTabStatus==0" class="row postsRow">
                <div class="postsCol col-10">
                    <div class="row" style="padding: 0px; margin: 0px;">


                        <div class="col-auto" style="padding: 0px; margin: 0px;">
                            <div *ngFor="let post of userPosts; let i = index" class="post">
                                <div *ngIf="i%2==0">
                                    <div class="postHeader" align="start">
                                        <img class="postOwnerImage" [src]='post.ownerPhoto'>
                                        &nbsp;
                                        <strong><label style="color:#3f51b5; margin-top: 20px">{{post.owner}}</label></strong>
                                        &nbsp;
                                        <label style="color:#a7a7b6; margin-top: 20px">{{post.date}}</label>
                                        <i class="shareIcon fa-lg fas fa-share-square"></i>
                                    </div>
                                    <div class="postBody" (click)="openDialog(post)">
                                        <div *ngIf="post.type=='image'">
                                            <img class="postImage" [src]='post.body'>
                                        </div>
                                        <div *ngIf="post.type=='text'">
                                            <div class="labelClass">
                                                <label>{{post.body}}</label>
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <div class="postFooter">
                                        <img class="postCommenterImage" src="https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                                        <mat-form-field class="postMatComment">
                                            <textarea matInput rows="1" id="style-2" [(ngModel)]="post.tempComment"
                                                style="color:black" placeholder="Leave a comment"></textarea>
                                        </mat-form-field>
                                        <mat-icon class="postCommentIcon">send</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-auto" style="padding: 0px; margin: 0px;">
                            <div *ngFor="let post of userPosts; let j = index" class="post">
                                <div *ngIf="j%2!=0">
                                    <div class="postHeader" align="start">
                                        <img class="postOwnerImage" [src]='post.ownerPhoto'>
                                        &nbsp;
                                        <strong><label style="color:#3f51b5; margin-top: 20px">{{post.owner}}</label></strong>
                                        &nbsp;
                                        <label style="color:#a7a7b6; margin-top: 20px">{{post.date}}</label>
                                        <i class="shareIcon fa-lg fas fa-share-square"></i>
                                    </div>
                                    <div class="postBody" (click)="openDialog(post)">
                                        <div *ngIf="post.type=='image'">
                                            <img class="postImage" [src]='post.body'>
                                        </div>
                                        <div *ngIf="post.type=='text'">
                                            <div class="labelClass">
                                                <label>{{post.body}}</label>
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <div class="postFooter">
                                        <img class="postCommenterImage" src="https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                                        <mat-form-field class="postMatComment">
                                            <textarea matInput rows="1" id="style-2" [(ngModel)]="post.tempComment"
                                                style="color:black" placeholder="Leave a comment"></textarea>
                                        </mat-form-field>
                                        <mat-icon class="postCommentIcon" (click)="addComment(post)">send</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>
                <div class="col">
                </div>
                <div class="log" id="style-2" #log>
                    <div>
                        <label style="color:#adb5bd;">Recent Activities</label>
                    </div>

                    <div>
                        <label style="color:black;">You commented on Hatem Bouhajja's post</label>
                    </div>

                    <div>
                        <label style="color:black;">You commented on Hatem Bouhajja's post</label>
                    </div>

                    <div>
                        <label style="color:black;">You commented on Hatem Bouhajja's post</label>
                    </div>

                    <div>
                        <label style="color:black;">You commented on Hatem Bouhajja's post</label>
                    </div>

                    <div>
                        <label style="color:black;">You commented on Hatem Bouhajja's post</label>
                    </div>

                    <div>
                        <label style="color:black;">You commented on Hatem Bouhajja's post</label>
                    </div>

                    <div>
                        <label style="color:black;">You commented on Hatem Bouhajja's post</label>
                    </div>

                    <div>
                        <label style="color:black;">You commented on Hatem Bouhajja's post</label>
                    </div>

                    <div>
                        <label style="color:black;">You commented on Hatem Bouhajja's post</label>
                    </div>

                    <div>
                        <label style="color:black;">You commented on Hatem Bouhajja's post</label>
                    </div>

                    <div>
                        <label style="color:black;">You commented on Hatem Bouhajja's post</label>
                    </div>

                    <div>
                        <label style="color:black;">You commented on Hatem Bouhajja's post</label>
                    </div>
                </div>
            </div>
            <!--******************************************************************************-->
            <div *ngIf="infoTabStatus==3" class="friendsRow row" align="center">
                <div class="col">
                    <div class="row" style="justify-content: center;">
                        <div *ngFor="let item of items" class="friend">
                            <div>
                                <img class="friendPhoto" src="https://picsum.photos/1200/800?image=289">
                            </div>
                            <div class="friendLabelContainer">
                                <div class="friendLabel">
                                    <div>
                                        <strong><label style="text-align: center; margin-top: 10px; color:#3f51b5">Hatem
                                                Bouhajja</label></strong>
                                    </div>
                                    <div>
                                        <label style="
                                            text-align: center ; margin-top: -20px;">200
                                            mutual friends</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
        <div class="row bottomSpacer"></div>
    </div>
</div>