:root{
    --photo-margin-left : 10%;
}


.expansionDiv{
    position: relative;
    border-radius: 7px;
}

.buttonPostConfirm{
    background-image: linear-gradient(135deg, #ecc344 0%, #e42d7f 100%);
    color: white;
    float: right;
}

.buttonPostOption{
    background-image: linear-gradient(135deg, #000000 0%, #000000 100%);
    color: white;
}

.expansion-panel .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

.background{
    background: linear-gradient(150deg,#281483 15%,#8f6ed5 70%,#d782d9 94%);
    height: 100% ;
    min-block-size: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    min-width: 650px;
  }

  .bottomSpacer{
    min-height: 100px; 
    height: 100px; 
  }

.r1{
    border: 1px solid red;
}

.r2{
    border: 1px solid greenyellow;
}

.r3{
    border: 1px solid blue;
}

.r4{
    border: 1px solid pink;
}

.r5{
    border: 1px solid purple;
}


.fullscreen{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    min-width: 650px;
}

.globalCard{
    height: auto;
    z-index: 0;
    width: calc(100% - 80px);
    margin-top: -1.9px ;
    border-radius: 5px !important;

}

.mat-tab-body-wrapper{
    height: 0px;
}

.tabRow{
    width: calc(100% + 30px); 
    padding : 0;
    z-index: 0;

}

.mat-tab-header{
    margin-top: 50px;
    height: 55px;
    min-width: 400px;
    border : transparent;

}

.tabCol{
    min-width: 400px;
    padding: 0;
}

.bannerCol{
    height: 50px;
    margin-top: 55px;
    padding: 0;
    z-index: 3;
    margin-right: -20px;
    border-top-left-radius: 8px;
}

.tabGroup{
    float: right;
    min-width: 400px;
}


.mat-tab-labels{
    justify-content: right;
    margin-right: 0;
    margin-left: 55px;
    margin-top: 5px;

}


.mat-tab-label-content {
    z-index: 2;
    color: #FFFFFF;
    padding: 0px;
    font-size: 17px;

}

.mat-tab-label-active{
    opacity: 1 !important;
}

.mat-tab-label{
    opacity: 1 !important;
    min-width: 1px !important;
    box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.5);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #281483
}


.mat-tab-label.mat-tab-disabled {
    cursor: default;
    background-color: white;
    border-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    border-top-right-radius: 5px;
}

 .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
	background-image: linear-gradient(135deg, #ecc344 0%, #e42d7f 100%);
    z-index: 1;
    min-height: 50px;
    box-shadow: 0px 0px 13px 3px #000000;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
  } 



.span-1{
	position: absolute;
    top: 10px;
    left: -2%;
    background: rgba(255,255,255,.1);
    
    width: 150px;
    height: 150px;

    //top : 50px;
	//width: 150px;
	//height: 75px;
	//border-top-left-radius: 0px;
    //border-top-right-radius: 0px;
    //border-bottom-left-radius: 75px;
    //border-bottom-right-radius: 75px;
    
    border-radius: 50%;

}

.span-2{
	position: absolute;
	top: 10%;
    right: 4%;
	background: rgba(255,255,255,.1);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	
}

.span-3{
	position: absolute;
	top: 280px;
    right: 5.66666%;
	background: rgba(255,255,255,.3);
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.span-4{
	position: absolute;
	top: 320px;
    right: 7%;
	background: rgba(255,255,255,.15);
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

.span-5{
	position: absolute;
	top: 38%;
    right: auto;
    left: 1%;
	background: rgba(255,255,255,.05);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	
}

.span-6{
	position: absolute;
	top: 44%;
    right: auto;
    left: 10%;
    width: 200px;
    height: 200px;
	background: rgba(255,255,255,.15);
	border-radius: 50%;
}

.span-7{
	position: absolute;
	right: 36%;
    bottom: 50%;
	background: rgba(255,255,255,.04);
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.span-8{
	position: absolute;
	right: 2%;
    bottom: 70px;
	background: rgba(255,255,255,.2);
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.span-9{
	position: absolute;
	right: 2%;
    bottom: 1%;
	background: rgba(255,255,255,.1);
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.span-10{
	position: absolute;
	right: auto;
    bottom: 1%;
    left: 1%;
	background: rgba(255,255,255,.05);
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.photoClass{
    position: relative;
    margin-top: 10px;
    margin-left: var(--photo-margin-left);
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    border: 3px solid white;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3)
    
}

.overlay {
    position: relative;
    margin-top: -167px;
    margin-left: calc(var(--photo-margin-left) + 3px);
    height: 164px;
    width: 164px;
    border-radius: 50%;
    transition: .3s ease;
    background-color:rgba(0, 0, 0, 0);
    text-align: center;
  }

  .overlay:hover{
    background-color:rgba(0, 0, 0, 0.5);
  }

  .photoIcon {
    color:rgba(255, 255, 255, 0);
    font-size: 30px;
    margin-top: 60px;
    transition: .3s ease;
  }

  .overlay:hover .photoIcon{
    color:rgba(255, 255, 255, 0.8);
  }

  .nav-tabs{
      border-bottom: 0px;
  }

  .tabDevider{
    text-align: center; 
    border-bottom: 2px solid #dee2e6 ;
    width: 98%;
    z-index: 99;
  }

  .my-headers-align .mat-expansion-panel-header-title, 
  .my-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .nav-link{
    cursor: pointer;
  }


  .gridPhoto{
      min-height: 200px;
      max-height: 200px;
      min-width: 200px;
      max-width: 200px; 
  }

  .gridRow{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }



.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    cursor: pointer;
  }
  
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  .mat-dialog-container{
      background-color: rgba(0,0,0,0.8);
  }


  .postsRow{
      min-height: 1000px;
      background-color: white;
      padding: 0px;
      margin: 0px;
      margin-top: 110px;
  }

  .createPost{
     height: 140px;
     min-height: 140px;
     width: calc(100% - 45px);
     margin-top: 20px;
     border-radius: 5px;
     margin-left: 16px;
     box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
     transition: .2s ease;

  }

  .createPost:hover{
    height: 140px;
    min-height: 140px;
    width: calc(100% - 45px);
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 16px;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.7);
 }

 .saysomething{ 
    min-width: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 10px; 
}


  .postsCol{
      padding: 0px;
      margin: 0px;
      margin-left: -20px;
  }

  .post{
    width: 450px;
    max-width: 450px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }

  .postHeader{
      height: 70px;
  }

  .postBody{
      height: auto;
      width: 450px;
      max-width: 450px;
      max-height: 400px;
      padding: 0px;
      overflow: hidden;
      cursor: pointer;
  }

  .postImage{
     display: block;
     height: auto;
     width: 100%; 
     object-fit: cover;
     transition: .3s ease;
  }

  .postImage:hover{
    display: block;
    height: auto;
    width: 110%;
    object-fit: cover;
    transform: translate(-5%, 0px);
 }


  .postFooter{
      height: 60px;
  }

  .postMatComment{
    width: calc(100% - 120px); 
    max-width: calc(100% - 120px); 
    margin-top: 7px;
    margin-left: 15px;
  }

  .postCommentIcon{
    margin-left: 20px;
    margin-top: 8px;
    color: #4758b8;
    cursor: pointer;
    transition: .2s ease;
}

.postCommentIcon:hover{
    color: #727baf;
    transform: rotate(-40deg);
}


.mat-input-element {
 caret-color: #3f51b5;
}


.postCommenterImage{
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.postOwnerImage{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 0px;
    border-radius: 50%;
    object-fit: cover;
}

.shareIcon{
    float: right;
    margin-top: 25px;
    margin-right: 10px;
    color: #4758b8;
    cursor: pointer;
    transition: .2s ease;
}

.shareIcon:hover{
    color: #99a1d4;
   // transform: rotate(90deg);
}


.log{
    position: absolute;
    height: auto;
    max-height: 85vh;
    width: 17.4vw;
    right: 15px;
    margin-top: 19.2px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    overflow: auto;
    background-color: white;
}

.fixedLog{
    position: fixed;
    height: auto;
    max-height: 85vh;
    width: 17.4vw;
    right: 55px;
    top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    overflow: auto;
    background-color: white;
}

.labelClass{
    border-top: 1px solid #cfd1e2;
    border-bottom: 1px solid #cfd1e2;
}

.friendPhoto{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.friendLabelContainer{
    display: flex;
    align-items: center;
}

.friendLabel{
    text-align: center
}

.friend{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.1s ease;
}

.friend:hover{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    cursor: pointer;
}


.friendsRow{
    padding: 0px;
    margin: 0px;
    justify-content: center;

}

.confirmationDiv{
    margin-top: 20px;
    margin-right: 20px;
}

.logo{
    position: absolute;
    margin-top: 2px;
    z-index: 999;
    margin-left: calc(50% - 150px);
    max-width: 300px;
    transition: .3s ease;
}

.logo:hover{
    position: absolute;
    margin-top: 2px;
    z-index: 999;
    margin-left: calc(50% - 160px);
    max-width: 320px;

}

.logoImg{
    max-width: 100%;
}

.userSearch{
    position: absolute;
    background-color: white;
    width: 300px;
    height: 35px;
    margin-top: 4px;
    border-radius: 4px;
}
.searchUserField{
    margin-top: -13px;
    min-width: calc(100% - 20px);
}

.searchUserInput{
    min-width: 480px;
}

.icons{
    position: absolute;
    width: 200px;
    height: 35px;
    background-color: transparent;
    top: 0 px;
    right: 50px;
    margin-top: 13px;
}

.iconsRow{
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.notification{
    position: absolute;
    float: right;
    right: 0px;
    color: white;
    zoom: 1.1;
    transition: .2s ease;
    }

.notification:hover{
    position: absolute;
    float: right;
    right: 0px;
    color: white;
    zoom: 1.1;
    margin-top: -2px;
    }

.messageNotification{
    color: white;
    zoom: 1.1;
    transition: .2s ease;
}

.messageNotification:hover{
    color: white;
    zoom: 1.1;
    margin-top: -2px;
}

.userNotification{
    position: absolute;
    float: left;
    left: 0px;
    color: white;
    z-index: 9885;
    zoom: 1.1;
    transition: .2s ease;
}

.userNotification:hover{
    position: absolute;
    float: left;
    left: 0px;
    color: white;
    margin-top: -2px;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content{
    width: 16px;
    height: 17px;
}
.mat-badge-medium .mat-badge-content {
    line-height: 16px;
}